@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  :root {
    --color-base: #ffffff;
    --color-card: #f5f5f5;
    --color-text: #111111;
  }

  .dark {
    --color-base: #060f14;
    --color-card: #0d1e26;
    --color-text: #f4f1d0;
  }
}